@model List<Referance>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Referans Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı </th>
        <th>Müşteri Şehri</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReferanceID</td>
            <td>@item.ReferanceNameSurname</td>
            <td>@item.ReferanceEpisode</td>
           
        </tr>
    }

</table>

