
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İstatistik Sayfası</h2>

<div class="card text-white bg-primary mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam Personel Sayısı : 4  </h5>
    </div>
</div>

<div class="card text-white bg-danger mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">En Yüksek Maaşlı Personel : Alexander</h5>
    </div>
</div>

<div class="card text-white bg-success mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Ortalama Personel Maaşı : 19000₺</h5>
    </div>
</div>


