@model IEnumerable<Product>



<div class="col-lg-6 menu-section pr-lg-5">

    <h3 class="menu-section-title">Pizza</h3>
    <!-- Item starts -->
    @foreach (var item in Model)
    {
        <div class="menu-item">
            <div class="row border-dot no-gutters">
                <div class="col-8 menu-item-name">
                    <h6>@item.Name</h6>
                </div>
                <div class="col-4 menu-item-price text-right">
                    <h6>@item.Price₺</h6>
                </div>
            </div>
            <div class="menu-item-description">
                <p>@item.Descriptoin</p>
            </div>
        </div>
    }
</div>