@model Pizzapan.EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürün Ekleme Sayfası</h1>

<form method="post">
<label>Ürün Adı</label>
    <input asp-for="Name" class="form-control" style="background-color:lightgray" />
<br />
    <label>Açıklama</label>
    <input asp-for="Descriptoin" class="form-control" style="background-color:lightgray" />
    <br />
    <label>Image Url</label>
    <input asp-for="ImageUrl" class="form-control" style="background-color:lightgray" />
<br />
    <label>Fiyat</label>
    <input asp-for="Price" class="form-control" style="background-color:lightgray" />
    <br />
    <label>Kategori ID</label>
    <input asp-for="CategoryId" class="form-control" style="background-color:lightgray" />
    <br />
<button class="btn btn-outline-success">Kaydet</button>
</form>